<% if current_user.following?(user) %>
  <%= link_to user_relationships_path(user.id), method: :delete, remote: true do %>
    <button class="btn">フォロー中</button>
  <% end %>
<% else %>
  <%= link_to user_relationships_path(user.id), method: :POST, remote: true do %>
    <button class="btn">フォロー</button>
  <% end %>
<% end %>