<div id="container">

  <%= render 'users/sidebar' %>

  <div id="main-contents">
    <div id="headline">
      <h3>フォローリスト</h3>
    </div>

    <%= render 'users/list', users: @users %>

  </div>
</div>