<div id="container">
  <div class="sidebar-top">

    <%= render 'users/sidebar' %>

  </div>

  <div id="main-contents">
    <div id="headline">
      <h3>フォローリスト</h3>
    </div>

    <%= render 'users/list', users: @users %>

  </div>
</div>