<div id="container">

  <%= render 'users/sidebar' %>

   <div id="main-contents">
    <div class="about">
      <div class="about-background"></div>
      <div class="about-wrap">
        <h2 class="about-headline">ABOUT danshari</h2>
        <h5 class="about-headline-sub">danshariについて</h5>
        <div class="about-textbox">
          <p class="about-text">
            danshariは<br>
            あなたが住むお部屋の写真や<br>
            断捨離のアイデアを共有できる<br>
            インテリア専門のSNSです。<br>
            <br>
            こだわりのお部屋写真や<br>
            アイデアをアップロードして<br>
            同じ趣味の人と交流しましょう！
          </p>
        </div>
      </div>
    </div>
  </div>
</div>