<div class="container">

  <%= render 'users/sidebar' %>

  <div class="main-content">

    <div class="headline">
      <h3>すべての写真</h3>
      <%= render 'posts/sort' %>
    </div>

    <%= render 'posts/index', posts: @posts %>

  </div>

</div>