<div class="container">

<%= render 'users/sidebar' %>

<div class="main-content">

  <div class="headline">
    <h3>Posts</h3>
    <%= render 'posts/sort' %>
  </div>

  <%= render 'posts/index', posts: @posts %>

</div>

</div>