<meta http-equiv="refresh" content=" 5; url = /">

<div id="container">

  <%= render 'users/sidebar' %>

  <div id="main-contents">
    <div id="headline">
      <h3>お問い合わせ</h3>
    </div>
    <p>お問い合わせいただきありがとうございました。</p>
    <br>
    <p>5秒後にトップページへ遷移します。</p>

  </div>
</div>