/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  //font-family: 'Noto Sans JP', sans-serif;
  color: #3d5572;
  background-color: #f9f9f9;
}

header {
  height: 44px;
}

.wrapper {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  padding: 0 50px;
  z-index: 500;
  top: 0;
  position: fixed;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 1.4px 0 0 rgba(0,0,0,0.1);
}

.logo {
  color: #3d5572;
  font-size: 30px;
  font-family: 'Rajdhani', sans-serif;
}

.sform {
  width: 500px;
}

.tbox {
  width: 100px;
  height: 20px;
  margin-right: 20px;
  background: none;
  color: #666;
  border: none;
  border-bottom: solid 1px #ccc;
}

.sbox {
  height: 20px;
  padding: 0 200px 0 5px;
  background: none;
  color: #666;
  border: none;
  border-bottom: solid 1px #ccc;
}

.sbtn {
  background: none;
  color: #666;
  border: none;
}

main {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
}

.sidebar {
  width: 200px;
  margin-right: 40px;
}

// ユーザー詳細画面で表示

.user-profile {
  //position: -webkit-sticky;
  //position: sticky;
  //top: 130px;
  padding-top: 20px;
}

.name {
  text-align: center;
  font-size: 15px;
}

.profiles {
  text-align: center;
}

.profile {
  font-size: 12px;
}

.follow-btn {
  width: 140px;
  display: block;
  margin: 0 auto;
}

.btn {
  width: 100%;
  margin-top: 10px;
}

.profile-list-count, .introduction {
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;
}

// ここまで

.main-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  width: 70%;
  margin: 0 auto;
}

.nav-contents {
  font-size: 17px;
  list-style: none;
}

.nav {
  margin: 10px 0;
}

.link-style {
  text-decoration: none;
  color: #3d5572;
}

.sns {
  position: relative;
  top: 370px;
  font-size: 12px;
}

.sns-header {
  margin-bottom: 15px;
}

.fab {
  margin-bottom: 10px;
}

.main-content {
  width: 100%;
  margin: 30px auto;
}

.headline {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.content {
  width: 100%;
}

.more {
  margin-right: 22px;
}

.post-grid, .jscroll-inner {
  display: flex;
  flex-wrap: wrap;  //折り返し可
  width: 100%;
  //padding: 0;
  font-size: 15px;
  list-style: none;
}

// jscroll-innerが生成される影響でflexboxが効かなくなるのを防ぐ
// 2ページ目以降はpost-gridで効かせている

.post {
  margin: 0 25px 25px 0;
}

.post-info {
  display: flex;
}

.info {
  width: 100%;
  text-align: right;
}

.info-font {
  font-size: 10px;
}

.info-name {
  padding-left: 5px;
  font-size: 13px;
}

.img {
  display: block;
  margin: 0 auto;
}

.img-circle {
  border-radius: 50%;
}

.img-wrapper {
  display: block;
}

.img-shadow {
  box-shadow: 8px 8px 8px rgba(0,0,0,0.6);
}

nav.pagination {
  display: none;
}

/*!
.badge-group {
  margin: 20px;
  width: 260px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.badge {
  margin-top: 10px;
  margin-right: 8px;
  border-radius: 4px;
  background: #f4f4f4;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
  padding: 5px 10px;
  overflow: hidden;
  color: #3d5572;
  font-size: 12px;
  font-weight: bold;
}
*/
