// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*-------------*/
/*---共通設定---*/
/*-------------*/

.photo {
  font-weight: bold;
  margin-bottom: 20px;
}

.fields, .pbtn {
  //width: 300px;
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.table3 {
  th {
    text-align: left;
    padding-bottom: 20px;
  }
}


/*-----------------------------------*/
/*---PC（960px）以上の際に適用される設定----*/
/*-----------------------------------*/

@media screen and (min-width: 960px) {

/* 写真投稿・編集画面 */

  .prev {
    margin: 30px 0 30px 50px;
  }

  .pbtn {
    width: 300px;
    cursor: pointer;
    margin-left: 114px;
    
    &:hover {
      opacity: 0.6;
    }
  }

  .table3 {
    td {
      padding: 0 0 20px 30px;
    }
  }
}

/*-------------------------------------------*/
/* タブレットサイズ（560px~959px）の際に適用される設定 */
/*------------------------------------------*/

@media screen and (min-width:560px) and (max-width: 959px) {

/* 写真投稿・編集画面 */

  .prev {
    margin: 30px 0 30px 50px;
  }

  .pbtn {
    width: 300px;
    cursor: pointer;
    margin-left: 114px;
    
    &:hover {
      opacity: 0.6;
    }
  }

  .table3 {
    td {
      padding: 0 0 20px 30px;
    }
  }
}

/*------------------------------------------*/
/* スマートフォンサイズ（559px）以下の際に適用される設定 */
/*------------------------------------------*/

@media screen and (max-width:559px) {

  /* 写真投稿・編集画面 */

  .prev {
    display: block;
    margin: 30px auto;
  }

  .fields, .pbtn {
    width: 100%;
  }

  .table3 {
    th {
      width: 25%;
    }

    td {
      padding: 0 0 20px 20px;
    }
  }
}
